<div
  *ngIf="(lighthouseScore$ | async) as lighthouseScore">
  <div
    class="report__total-score-heading">
    <div>
      <h1>{{ lighthouseScore?.totalScore | percent }}</h1>
    </div>
  </div>
  <div
    *ngFor="let metricScore of lighthouseScore.metrics"
    class="report__metric-score">
    <p>{{ metricScore.displayName }} - {{ metricScore.value }} - {{ metricScore.score | percent }}</p>
  </div>
</div>